:root {
  --code-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace;
  --main-font: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

:root {
  --header-bg: #FFFAFA;
  --header-hover-bg: #ddd;
  --header-fg: black;
  --body-bg: snow;
  --text-fg: black;
  --pre-bg: whitesmoke;
  --code-fg: #c78665;
  --table-border: black;
  --tag-fg: white;
  --tag-bg: #202020;
  --footnote-fg: gray;
  --supressed-fg: #666;
  --blockquote-border: gray;
  --card-border: #ccc;
  --card-hover-bg: #f5f5f5;
  --a-fg: #567180;
}

:root[theme="dark"] {
  --header-bg: #2A2A2A;
  --header-hover-bg: #333;
  --header-fg: #f2f2f2;
  --body-bg: #2A2A2A;
  --text-fg: #D7D7D7;
  --pre-bg: #202020;
  --code-fg: #c78665;
  --table-border: #666;
  --tag-fg: #202020;
  --tag-bg: #e0e0e0;
  --footnote-fg: #bbbbbb;
  --supressed-fg: #999999;
  --blockquote-border: #555;
  --card-border: gray;
  --card-hover-bg: #252525;
  --a-fg: #99c3db;
}

html {
  font-family: var(--main-font);
  padding: 0;
}

a {
  color: var(--a-fg);
}

body {
  background-color: var(--body-bg);
  color: var(--text-fg);
  font-size: 1rem;
  margin: 0;
  min-height: 100dvh;
}

#date {
  font-size: 0.9rem;
}

footer {
  position: sticky;
  top: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--header-bg);
  color: var(--header-fg);
  width: 100%;

  >p {
    margin: 0;
  }
}


header {
  text-align: center;
  padding: 0;
  background-color: var(--header-bg);
  color: var(--header-fg);

  h1 {
    padding: 0;
    font-size: 1.6rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

#menu-bar {
  display: flex;
  padding: 0 1.6rem;
}

#menu-title {
  flex: 1;
}

.button-on-menu {
  display: inline-block;
  height: 100%;

  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--header-fg);

  &:hover {
    background: var(--header-hover-bg);
  }
}

#searchbar {
  margin: 1rem auto;
  max-width: 90%;
}

#search-input {
  width: 100%;
  font-size: 1rem;
  background-color: inherit;
  color: inherit;
  margin: 1rem 0;
  border: none;
}

#search-result {
  background-color: inherit;
  color: inherit;
}

.hidden {
  display: none;
}

main {
  max-width: 90%;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}


.card {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 1.6rem;
  border-top: solid var(--card-border) 1px;
  &:hover {
    background-color: var(--card-hover-bg);
  }
}

.card-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card.crypto .card-header::after {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z"/></svg>');
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentColor;
}

.card-meta {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--supressed-fg);
  gap: 1rem;
}

.card-tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  /* background-color: var(--tag-bg); */
  border: 1px var(--table-border) solid;
  color: var(--text-fg);
  border-radius: 4px;
  text-decoration: none;
  font-family: var(--code-font);
  font-size: 0.9rem;
  white-space: nowrap;
}

#tag-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

pre {
  background-color: var(--pre-bg);
  white-space: pre;
  margin: 1rem 0;
  padding: 1rem;
  overflow-x: auto;
  border-radius: .5rem;
}

pre > code {
  font-family: var(--code-font);
  font-size: 1rem;
}

:not(pre) > code {
  font-family: var(--code-font);
  color: var(--code-fg);
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  margin-inline: auto;
  font-size: 1rem;
}

table,
td,
th {
  border: 1px var(--table-border) solid;
  padding: 0.5rem;
}


.footnote-definition {
  font-size: medium;
  color: var(--footnote-fg);

  >p {
    display: inline;
  }
}

.footnote-definition-label {
  font-size: medium;
}

blockquote {
  border-left: 3px solid var(--blockquote-border);
  padding-left: 0.5rem;
}

dt {
  position: relative;
  top: 0.5rlh;
  left: 1rem;
  width: fit-content;
  border-radius: 5px;
  padding: 0 5px;
  z-index: 1;
  margin-top: 1rem;
  background-color: var(--body-bg);
}

dd {
  border: 1px solid var(--table-border);
  padding: 20px;
  margin-left: 0;
  border-radius: 5px;
}

.zakki-scroll {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  &:frist-child {
    display: block;
    max-width: none;
    padding: 1rem;
    background-color: snow;
  }
}

#tag-filter:not(:empty)::before {
  content: "Filtered by: ";
}
